 .u-section-1 {
  background-image: linear-gradient(#a98d62, #725e3f);
}

.u-section-1 .u-sheet-1 {
  min-height: 849px;
}

.u-section-1 .u-group-1 {
  width: 876px;
  min-height: 735px;
  box-shadow: 0px -2px 26px 0 rgba(0,0,0,0.25);
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 44px auto 0 132px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 13px auto 0;
}

.u-section-1 .u-icon-1 {
  width: 216px;
  height: 216px;
  box-shadow: 5px -10px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 192px auto 0 20px;
  padding: 0;
}

.u-section-1 .u-form-1 {
  height: 626px;
  --checkbox-checked-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
  margin: -386px 0 0 258px;
}

.u-section-1 .u-label-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
}

.u-section-1 .u-input-1 {
  background-image: none;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
}

.u-section-1 .u-input-2 {
  background-image: none;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
}

.u-section-1 .u-input-3 {
  background-image: none;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
}

.u-section-1 .u-input-4 {
  background-image: none;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-label-5 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
}

.u-section-1 .u-input-5 {
  background-image: none;
}

.u-section-1 .u-label-6 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
}

.u-section-1 .u-input-6 {
  background-image: none;
}

.u-section-1 .u-btn-1 {
  width: 100%;
  background-image: none;
  padding: 10px 0;
}

.u-section-1 .u-shape-1 {
  width: 148px;
  height: 148px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -735px auto 0 -29px;
}

.u-section-1 .u-shape-2 {
  width: 122px;
  height: 133px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 434px -23px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-left: 64px;
    height: auto;
  }

  .u-section-1 .u-form-1 {
    width: 570px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    margin-left: 102px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    width: 520px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
  }
}